<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <h1>My ToDo List</h1>
    <div id="todo-table">
        <form action="">
            <input type="text" name="item" placeholder="Add new item.." required>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% for(var i = 0; i < todos.length; i++){%>
                <li><%= todos[i].item%></li>
           <% } %>
        </ul>
    </div>
</body>
</html>











